<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table width="1000" height="500" border="2">
        <colgroup>
            <col width="10%" />
            <col width="40%" />
            <col width="10%" />
            <col width="10%" />
            <col width="20%" />
            <col width="10%" />
        </colgroup>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>물품종류</th>
            <th>대여가격</th>
            <th>대여상태</th>
        </tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
    </table>
</body>
</html>