<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
{{ error }}
    <table class="table">
    <tr>
        <td class="col-md-2">
            <a href = "/logout">로그아웃</a>
        </td>
        <td class="col-md-2">
            <a href = "/myinfo">내 정보</a>
        </td>
    </tr>

    </table>

    <table class="table table-bordered">
        <colgroup>
            <col width="10%" />
            <col width="40%" />
            <col width="10%" />
            <col width="10%" />
            <col width="20%" />
            <col width="10%" />
        </colgroup>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>물품종류</th>
            <th>대여가격</th>
            <th>대여상태</th>
        </tr>
        {% for row in result %}
        <tr>
            <th>{{ row['idx'] }}</th>
            <td><a href="/post/{{ row['idx'] }}">{{ row['post_title'] }}</a></td>
            <td>{{ row['user_name'] }}</td>
            <td>{{ row['type_name'] }}</td>
            <td>{{ row['post_rental_price'] }}</td>
            <td>{{ row['status_name'] }}</td>
        {% endfor %}
        </tr>
    </table>

    <table class="table">
        <tr>
    {%  for i in range(0, ((result|length)//10) + 1) %}
    <td>
        <a href="/?page={{ i + 1 }}">{{ i + 1 }}</a>
    </td>
    {% endfor %}
        </tr>
    </table>

    <table class="table">
        <tr>
            <td>
                    <a href="/post">글쓰기</a>
            </td>
            <td>
                <form action="/search" method="GET">
                    <input type="text" name="keyword">
                    <select name="bit">
                    <option value="1">or</option>
                    <option value="2">and</option>
                    <input type="submit" value="검색">
                    <div id="map" style="width:350px;height:350px;"></div>
                    <input type="hidden" id="geom" name="geom"/>
                    <p><em></em></p>
                </form>
            </td>
        </tr>
    </table>



</div>
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8841344cab79ed62ad04779072373a0c&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new daum.maps.LatLng(37.284349,127.044405), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 지도를 클릭한 위치에 표출할 마커입니다
var marker = new daum.maps.Marker({
    // 지도 중심좌표에 마커를 생성합니다
    position: map.getCenter()
});
// 지도에 마커를 표시합니다
marker.setMap(map);

daum.maps.event.addListener(map, 'click', function(mouseEvent) {

    // 클릭한 위도, 경도 정보를 가져옵니다
    var latlng = mouseEvent.latLng;

    // 마커 위치를 클릭한 위치로 옮깁니다
    marker.setPosition(latlng);

    var geocoder = new daum.maps.services.Geocoder(), // 좌표계 변환 객체를 생성합니다
    latitude = latlng.getLat(),
    longitude = latlng.getLng();

    // WTM 좌표를 WGS84 좌표계의 좌표로 변환합니다
    geocoder.transCoord(longitude, latitude, transCoordCB, {
        input_coord: daum.maps.services.Coords.WGS84, // 변환을 위해 입력한 좌표계 입니다
        output_coord: daum.maps.services.Coords.WTM // 변환 결과로 받을 좌표계 입니다
    });

    function transCoordCB(result, status) {

    // 정상적으로 검색이 완료됐으면
    if (status === daum.maps.services.Status.OK) {
        var message = result[0].x + "," + result[0].y;
        var resultDiv = document.getElementById('geom');
        resultDiv.value = message;
    }
}
});
</script>

</html>