<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>requester</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <table class="table">
        <tr>
            <td>
                신청자 정보
            </td>
        </tr>
        <tr>
            <td>
                ID : {{ user_info['user_id'] }}
            </td>
        </tr>
        <tr>
            <td>
                 이름 : {{ user_info['user_name'] }}
            </td>
        </tr>
        <tr>
            <td>
                 이메일 : {{ user_info['user_email'] }}
            </td>
        </tr>
        <tr>
            <td>
                연락처 : {{ user_info['user_phone'] }}
            </td>
        </tr>
        <tr>
            <td>
                <a href="/to_rent/{{ user_info['post.idx'] }}">대여 상태로 전환</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>