<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <form method="post" action='/login'>
        <h3>login</h3>
        <table>
            <tr>
                <td>유저 아이디</td>
                <td><input type='text' name='id' placehoder='username'></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type='password' name='pw' placehoder='password'></td>
             </tr>
        </table>
        <button type="'submit">login</button>
    </form>
    <button type="button" onclick="location.href='/join'">sign_up</button>
</body>
</html>