<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post Screen :)</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<table class="table table-bordered">
    <thead>
        <caption> 어디한번 글 작성 해보시지 </caption>
    </thead>
    <tbody>
        <form action="write_ok.jsp" method="post" encType="multiplart/form-data">
            <tr>
                <th>글 제목: </th>
                <td><input type="text" placeholder="제목이 무엇이냐?" name="subject" class="form-control"/></td>
            </tr>
            <tr>
                <th>음 여긴 뭐넣지: </th>
                <td><textarea cols="10" placeholder="음 품질 설명좀 " name="content" class="form-control"></textarea></td>
            </tr>
            <tr>
                <th> 품목: </th>
                <td> <select name="goods_type">
                    <option value="clothing"> 의류</option>
                    <option value="electronics"> 전자기기</option>
                    <option value="books"> 도서</option>
                    <option value="householdGoods"> 생활용품</option>
                    <option value="etc"> 기타</option>
                </select>
                </td>
            </tr>
            <tr>
                <th>가격: </th>
                <td><input type="text" placeholder="님 선제요 ^^" name="cost" class="form-control"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" value="등록" onclick="sendData()" class="pull-right"/>
                    <input type="button" value="reset" class="pull-left"/>
                    <input type="button" value="글 목록으로... " class="pull-right" onclick="javascript:location.href='list.jsp'"/>
                </td>
            </tr>
        </form>
    </tbody>
</table>
</div>
</body>
</html>