<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Screen :)</title>
</head>
<body topmargin="0 leftmargin=0 text=#464646">
<center>
    <BR>
    <!--
       데이터 베이스에서 조회수 가져오기, 글 정보 가져오기
    -->

    <table width="680" border="0" cellpadding="2" cellspacing="1" bgcolor="#777777">
        <tr>
            <td height="20" colspan="4" align="center" bgcolor=#999999>
                <font color="white"><B>(여기 글 제목 불러오기)</B></font>
            </td>
        </tr>
        <tr>
            <td width="50" height="20" align="center" bgcolor="#EEEEEE">글쓴이</td><td width="240" bgcolor="white">(여기 작성자 아이디)</td>
            <td width="50" height="20" align="center" bgcolor="#EEEEEE">품목</td><td width="240" bgcolor="white">(여기 품목)</td>
        </tr>
        <tr>
            <td width=50 height=20 align=center bgcolor=#EEEEEE>날&nbsp;&nbsp;&nbsp;짜</td><td width=240 bgcolor=white>(여기 글 작성 시간 가져오기)</td>
            <td width=150 height=20 align=center bgcolor=#EEEEEE>(조회수)or(지역)</td><td width=240 bgcolor=white>(여기 조회수or지역 가져오기)</td>
        </tr>
        <tr>
            <td bgcolor="white" colspan="4">
                <font color="black">
                    <pre>(여기 작성한 글 불러오기)</pre>
                </font>
            </td>
        </tr>
        <!-- 버튼 들 -->
        <tr>
            <td colspan="4" bgcolor="#999999">
                <table width="100%">
                    <tr>
                        <td width="200" align="left" height="20">
                            <font color="aquamarine">[목록보기]</font>
                            <font color="aquamarine">[수정]</font>
                            <font color="aquamarine">[삭제]</font>
                        </td>

                        <td width="200" align="right" height="20">
                            <font color="blueviolet">[이전]</font>
                            <font color="blueviolet">[다음]</font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>
</body>
</html>